.container {
    height: 90px;
    max-width: 1920px;
    width: 100%;
    border: 2px, solid;
    /* background-color: #c4b5b5; */
    display: flex;
    align-items: center ;
    justify-content: space-between ;
}
.nav-items{
    display: flex;
    gap: 20px;
}
.nav-item{
    list-style: none;

}
.wrapper{
    display: flex;
}